/ABOUT-NLS
/INSTALL
/Makefile
/Makefile.in
/aclocal.m4
/admin
/atconfig
/autom4te.cache
/config.log
/config.status
/configure
/doc/locate.1
/doc/updatedb.8
/doc/updatedb.conf.5
/gnulib/lib/.deps
/gnulib/lib/.gitignore
/gnulib/lib/Makefile
/gnulib/lib/Makefile.in
/gnulib/lib/alloca.h
/gnulib/lib/charset.alias
/gnulib/lib/configmake.h
/gnulib/lib/exitfail.o
/gnulib/lib/fwriteerror.o
/gnulib/lib/libgnu.a
/gnulib/lib/localcharset.o
/gnulib/lib/malloca.o
/gnulib/lib/mbchar.o
/gnulib/lib/mbslen.o
/gnulib/lib/mbsstr.o
/gnulib/lib/progname.o
/gnulib/lib/ref-add.sed
/gnulib/lib/ref-del.sed
/gnulib/lib/safe-read.o
/gnulib/lib/stat-time.h~
/gnulib/lib/stdlib.h
/gnulib/lib/string.h
/gnulib/lib/strnlen1.o
/gnulib/lib/time.h
/gnulib/lib/unistd.h
/gnulib/lib/uniwidth
/gnulib/lib/xalloc-die.o
/gnulib/lib/xmalloc.o
/gnulib/m4/.gitignore
/gnulib/m4/gnulib-comp.m4
/m4
/po/Makefile
/po/Makefile.in
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/ar.gmo
/po/as.gmo
/po/ast.gmo
/po/bg.gmo
/po/boldquot.sed
/po/bs.gmo
/po/ca.gmo
/po/cs.gmo
/po/da.gmo
/po/de.gmo
/po/el.gmo
/po/en@boldquot.header
/po/en@quot.header
/po/en_GB.gmo
/po/es.gmo
/po/et.gmo
/po/fa.gmo
/po/fi.gmo
/po/fr.gmo
/po/gu.gmo
/po/hu.gmo
/po/insert-header.sin
/po/it.gmo
/po/ja.gmo
/po/ko.gmo
/po/lv.gmo
/po/ms.gmo
/po/nds.gmo
/po/nl.gmo
/po/pl.gmo
/po/pt.gmo
/po/pt_BR.gmo
/po/quot.sed
/po/remove-potcdate.sin
/po/ru.gmo
/po/sr.gmo
/po/sr@latin.gmo
/po/stamp-po
/po/sv.gmo
/po/ta.gmo
/po/tr.gmo
/po/uk.gmo
/po/zh_CN.gmo
/po/zh_TW.gmo
/src/.deps
/src/.dirstamp
/src/bind-mount.o
/src/config.h
/src/config.h.in
/src/lib.o
/src/liblib.a
/src/locate
/src/src_locate-locate.o
/src/src_updatedb-conf.o
/src/src_updatedb-updatedb.o
/src/stamp-h1
/src/updatedb
/tests/.deps
